---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";

export interface Props {
	title?: string;
	description?: string;
	lang?: string;
}

const { title, description, lang } = Astro.props;
const pageTitle = title ? `${title} | Yang Qizhen` : "Yang Qizhen";
const canonicalURL = Astro.url.href;
---

<html lang={lang || "en"}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>{pageTitle}</title>
		<meta name="description" content={description
			? description : "Welcome to Yang Qizhen's site."}>
		<link rel="canonical" href={canonicalURL} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta property="og:type" content="website" />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:title" content={pageTitle} />
		<meta property="og:description" content={description} />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={canonicalURL} />
		<meta property="twitter:title" content={pageTitle} />
		<meta property="twitter:description" content={description} />

		<base target="_blank">
		<ClientRouter />
	</head>
	<body>
		<div class="flex flex-col w-full xl:flex-row xl:justify-center items-center xl:items-start gap-4 xl:gap-8 p-4">
			<header class="xl:sticky xl:top-4 w-full md:w-3xl xl:w-sm text-center xl:[text-align-last:right]">
				<Header />
			</header>
			<main class="w-full md:w-3xl" transition:animate="fade">
				<slot />
			</main>
			<footer class="mt-12 xl:mt-0 xl:sticky xl:top-4 w-full md:w-3xl xl:w-sm">
				<Footer />
			</footer>
		</div>
	</body>
</html>
